.chat-main
  .chat-main__header
    .chat-main__header__left-box
      %p.chat-main__header__left-box__group-name
        test
      %ul.chat-main__header__left-box__menber-list
        Member:
        %li.chat-main__header__left-box__menber-list__name
          masa
    .chat-main__header__edit-btn
      = link_to "#" do
        Edit
  .chat-main__messages
    .chat-main__messages__message
      .chat-main__messages__message__upper-info
        %p.chat-main__messages__message__upper-info__talker
          masa
        %p.chat-main__messages__message__upper-info__date
          2019/11/20(Wed)17:43:01
      %p.chat-main__messages__message__text
        おはよう！
      .chat-main__messages__message__upper-info
        %p.chat-main__messages__message__upper-info__talker
          hoge
        %p.chat-main__messages__message__upper-info__date
          2019/11/20(Wed)17:43:43
      %p.chat-main__messages__message__text
        こんにちは！

  .form
    %form.new-message
      .input-box
        %input.input-box-text{:placeholder => "type a message"}
        %label.input-box-text_img
          =icon('fa', 'image')
          %input.input-box-text_btn{type: "file"}
      %submit.input-box_submit-btn Send